.zr-terminal {
    min-height: 20px;
    background-color: #2c3e50;
}
.zr-terminal-input {
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30px;
}
.zr-terminal-input .zr-terminal-path {
    height: 100%;
    color: #1da57a;
}
.zr-terminal-input input {
    flex: 1;
    height: 100%;
    background-color: #2c3e50;
    border: none;
    color: #1da57a;
    border-radius: 0;
}
.zr-terminal-input input:focus {
    outline: none;
    background-color: #354960;
}
.zr-terminal-log {
    min-height: 100px;
    height: 174px;
    background-color: #2c3e50;
    color: #42b983;
    padding-top: 40px;
    position: relative;
}
.zr-terminal-log .zr-terminal-log-header {
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0 30px;
    cursor: row-resize;
}
.zr-inline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    cursor: unset;
}
.zr-icon {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    fill: #e4f5ef;
}
.zr-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zr-btn:hover {
    background-color: rgb(66, 185, 131);
}
.zr-btn + .zr-btn {
    margin-left: 8px;
}
.zr-tooltip {
    position: relative;
}
.zr-tooltip:hover::before {
    content: attr(tips);
    width: max-content;
    max-width: 300px;
    padding: 10px;
    background-color: rgba(53, 73, 96, 0.8);
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 30px;
    z-index: 10;
}
.zr-tooltip:hover::after {
    content: '';
    width: 0;
    height: 0;
    border: 5px solid rgba(53, 73, 96, 0.8);
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(45deg);
    position: absolute;
    right: 8px;
    bottom: 25px;
    z-index: 1;
}
.zr-status {
    width: 30px;
    height: 20px;
    position: relative;
}
.zr-running:after {
    content: '';
    border-left: 1px solid #1da57a;
    position: absolute;
    right: 10px;
    width: 1px;
    height: 1em;
    top: 0.25em;
    animation: rotate 0.8s linear infinite;
    rotation-point: 50% 0;
}

@keyframes rotate {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}
